h1{
	color: #FF8826;
	text-align:center;
}
#login-panel{
	display:none;
}

.stat-wrap{
	text-align:center;
	margin-bottom:50px;
}

.large-stat{
	font-size:7em;
	font-weight:bold;
}

.large-stat-label{
	font-size:3em;
	font-weight:100;
}

#blue{
	color: #2C9FA3;
}

#blue h4{
	background: #2C9FA3;
	color: #fff;
	text-align:center;
}

#red{
	color: #B31237;
}

#red h4{
	background: #B31237;
	color: #fff;
	text-align:center;
}